.gradle/
build/
**/build/
local.properties
*.apk
*.aab
sdk/
android-sdk/
tools/
platform-tools/
node_modules/
dist/
.cache/
.vscode/
.DS_Store
Thumbs.db
# Android native / CMake
.cxx/
setup-java-sdk.ps1
.gitignore
android/cmdline-tools/NOTICE.txt
android/cmdline-tools/bin/sdkmanager.bat
.gitignore
android/cmdline-tools.zip
android/cmdline-tools
